# =========================
# Fichiers CLion
# =========================
.idea/
cmake-build-*/
.claude/
build-refactor/

# =========================
# Dossiers de compilation
# =========================
build/
bin/
obj/
out/

# =========================
# Fichiers compilés
# =========================
*.o
*.out
*.exe
*.a
*.so
*.dylib
*.dll
*.lib

# =========================
# Couverture / analyse
# =========================
*.gcda
*.gcno
coverage.*
analysis/data/
analysis/**/.ipynb_checkpoints/